// #playground-container {
//     height: 500px;
//     overflow: hidden !important;
//     -webkit-overflow-scrolling: touch;
// }
// body, html{
//      height: 100%;
//  	background-repeat: no-repeat;
//  	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
//  	font-family: 'Oxygen', sans-serif;
// 	    background-size: cover;
// }

// .main{
//  	margin:50px 15px;
// }

// h1.title { 
// 	font-size: 50px;
// 	font-family: 'Passion One', cursive; 
// 	font-weight: 400; 
// }

// hr{
// 	width: 10%;
// 	color: #fff;
// }

// .form-group{
// 	margin-bottom: 15px;
// }

// label{
// 	margin-bottom: 15px;
// }

// input,
// input::-webkit-input-placeholder {
//     font-size: 11px;
//     padding-top: 3px;
// }

// .main-login{
//  	background-color: #fff;
//     /* shadows and rounded borders */
//     -moz-border-radius: 2px;
//     -webkit-border-radius: 2px;
//     border-radius: 2px;
//     -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//     -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

// }
// .form-control {
//     height: auto!important;
// padding: 8px 12px !important;
// }
// .input-group {
//     -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
//     -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
//     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
// }
// #button {
//     border: 2px solid #666;
//     margin-top: 28px;
//     padding: 6px 12px;
//     color:#666;
//     text-shadow: 1px 1px #fff;
//     cursor: pointer;
//     -moz-border-radius: 3px 3px;
//     -webkit-border-radius: 3px 3px;
//     border-radius: 3px 3px;
//     -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
//     -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
//     box-shadow: 0 1px #fff inset, 0 1px #ddd;
//     background: #f5f5f5;
//     background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
//     //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
//     //background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
//     //background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
//     //background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
//     // background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
//     // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
// }
// .main-center{
//  	margin-top: 30px;
//  	margin: 0 auto;
//  	max-width: 400px;
//     padding: 10px 40px;
// 	background:#009edf;
// 	    color: #FFF;
//     text-shadow: none;
// 	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
// -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
// box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

// }
// span.input-group-addon i {
//     color: #009edf;
//     font-size: 17px;
// }

// .login-button{
    
// 	margin-top: 5px;
// }

// .login-register{
// 	font-size: 11px;
// 	text-align: center;
// }





body, html {
    height: 100%;
//    font-family: Arial, Helvetica, sans-serif;
}

// * {
//     box-sizing: border-box;
// }

.bg-img {
    /* The image used */
    background-image: url("assets/images/back-imag.jpeg");

  height: 662px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

/* Add styles to the form container */
.container {
    position: absolute;
    right: 0;
    margin: 100px;
    max-width: 350px;
    padding: 17px;
    background-color: #b3ccff;
    
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 2px 0 12px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #3385AA;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 5px;
}

.btn:hover {
    opacity: 1;
}