// .error-back{
// background: #F43B3B;
// padding: 5px;
// margin-left: 10px;
// margin-right: 10px;
// border-left: 3px solid violet;
// }
li{
    list-style: none;
}
.error-back {
    background: #FDF9A8;
    padding: 4px 7px;
    border: 1px solid #fff7f7;
    border-left: 5px solid #A9431D;
    margin-top: 4px;
    font-size: 14px;
}

.modal-header{
    background: #A9431D!important;
    color: #fff!important;
}