<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content">
  <router-outlet> -->
<!-- <span *ngIf="showLoader" class="loading"></span> -->

<!-- <span *ngIf="showLoader">
      <div class='body'>
        <span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class='base'>
          <span></span>
          <div class='face'></div>
        </div>
      </div>
      <div class='longfazers'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1>Redirecting</h1>
    </span> -->

<!-- <span *ngIf="showLoader">
      <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
      </div>
    </span>


  </router-outlet>
</div> -->

<!-- <user-login></user-login> -->

<app-header 
*ngIf="!router.isActive('/', true) && 
!router.isActive('/login', true) &&
!router.isActive('/register', true)
"></app-header>
<app-sidebar 
*ngIf="!router.isActive('/', true) &&
!router.isActive('/login', true) &&
!router.isActive('/register', true)
"></app-sidebar>

<div 
*ngIf="router.isActive('/', true) 
 || router.isActive('/login', true)
 || router.isActive('/register', true)
 ">
  <router-outlet>
    <span *ngIf="showLoader">
      <div class="lds-hourglass">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
      </div>
    </span>
  </router-outlet>
</div>



<div class="content" 
*ngIf="!router.isActive('/', true) && 
!router.isActive('/login', true) &&
!router.isActive('/register', true)"
>
  <router-outlet>
    <span *ngIf="showLoader">
      <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
      </div>
    </span>
  </router-outlet>
</div>