@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.content{
    padding: 15px;
    margin-left: 200px;
    margin-top: 56px;
}



// body {
//   background-color: #f1c40f;
//   overflow: hidden;
// }

// h1 {
//   position: absolute;
//   font-family: 'Open Sans';
//   font-weight: 600;
//   font-size: 12px;
//   text-transform: uppercase;
//   left: 50%;
//   top: 58%;
//   margin-left: -20px;
// }

// .body {
//   position: absolute;
//   top: 50%;
//   margin-left: -50px;
//   left: 50%;
//   animation: speeder .4s linear infinite;

//   > span {
//     height: 5px;
//     width: 35px;
//     background: #f1c40f;
//     position: absolute;
//     top: -19px;
//     left: 60px;
//     border-radius: 2px 10px 1px 0;
//   }
// }

// .base {
//   span {
//     position: absolute;
//     width: 0;
//     height: 0;
//     border-top: 6px solid transparent;
//     border-right: 100px solid #000;
//     border-bottom: 6px solid transparent;

//     &:before {
//       content: "";
//       height: 22px;
//       width: 22px;
//       border-radius: 50%;
//       background: #f1c40f;
//       position: absolute;
//       right: -110px;
//       top: -16px;
//     }

//     &:after {
//       content: "";
//       position: absolute;
//       width: 0;
//       height: 0;
//       border-top: 0 solid transparent;
//       border-right: 55px solid #000;
//       border-bottom: 16px solid transparent;
//       top: -16px;
//       right: -98px;
//     }
//   }
// }

// .face {
//   position: absolute;
//   height: 12px;
//   width: 20px;
//   background: #f1c40f;
//   border-radius: 20px 20px 0 0;
//   transform: rotate(-40deg);
//   right: -125px;
//   top: -15px;

//   &:after {
//     content: "";
//     height: 12px;
//     width: 12px;
//     background: #f1c40f;
//     right: 4px;
//     top: 7px;
//     position: absolute;
//     transform: rotate(40deg);
//     transform-origin: 50% 50%;
//     border-radius: 0 0 0 2px;
//   }
// }

// .body > span > span:nth-child(1),
// .body > span > span:nth-child(2),
// .body > span > span:nth-child(3),
// .body > span > span:nth-child(4) {
//   width: 30px;
//   height: 1px;
//   background: #f1c40f;
//   position: absolute;
//   animation: fazer1 .2s linear infinite;
// }

// .body > span > span:nth-child(2) {
//   top: 3px;
//   animation: fazer2 .4s linear infinite;
// }

// .body > span > span:nth-child(3) {
//   top: 1px;
//   animation: fazer3 .4s linear infinite;
//   animation-delay: -1s;
// }

// .body > span > span:nth-child(4) {
//   top: 4px;
//   animation: fazer4 1s linear infinite;
//   animation-delay: -1s;
// }

// @keyframes fazer1 {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -80px;
//     opacity: 0;
//   }
// }

// @keyframes fazer2 {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -100px;
//     opacity: 0;
//   }
// }

// @keyframes fazer3 {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -50px;
//     opacity: 0;
//   }
// }

// @keyframes fazer4 {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -150px;
//     opacity: 0;
//   }
// }

// @keyframes speeder {
//   0% {
//     transform: translate(2px, 1px) rotate(0deg);
//   }
//   10% {
//     transform: translate(-1px, -3px) rotate(-1deg);
//   }
//   20% {
//     transform: translate(-2px, 0px) rotate(1deg);
//   }
//   30% {
//     transform: translate(1px, 2px) rotate(0deg);
//   }
//   40% {
//     transform: translate(1px, -1px) rotate(1deg);
//   }
//   50% {
//     transform: translate(-1px, 3px) rotate(-1deg);
//   }
//   60% {
//     transform: translate(-1px, 1px) rotate(0deg);
//   }
//   70% {
//     transform: translate(3px, 1px) rotate(-1deg);
//   }
//   80% {
//     transform: translate(-2px, -1px) rotate(1deg);
//   }
//   90% {
//     transform: translate(2px, 1px) rotate(0deg);
//   }
//   100% {
//     transform: translate(1px, -2px) rotate(-1deg);
//   }
// }

// .longfazers {
//   position: absolute;
//   width: 100%;
//   height: 100%;

//   span {
//     position: absolute;
//     height: 2px;
//     width: 20%;
//     background: #000;

//     &:nth-child(1) {
//       top: 20%;
//       animation: lf .6s linear infinite;
//       animation-delay: -5s;
//     }

//     &:nth-child(2) {
//       top: 40%;
//       animation: lf2 .8s linear infinite;
//       animation-delay: -1s;
//     }

//     &:nth-child(3) {
//       top: 60%;
//       animation: lf3 .6s linear infinite;
//     }

//     &:nth-child(4) {
//       top: 80%;
//       animation: lf4 .5s linear infinite;
//       animation-delay: -3s;
//     }
//   }
// }

// @keyframes lf {
//   0% {
//     left: 200%;
//   }
//   100% {
//     left: -200%;
//     opacity: 0;
//   }
// }
// @keyframes lf2 {
//   0% {
//     left: 200%;
//   }
//   100% {
//     left: -200%;
//     opacity: 0;
//   }
// }
// @keyframes lf3 {
//   0% {
//     left: 200%;
//   }
//   100% {
//     left: -100%;
//     opacity: 0;
//   }
// }
// @keyframes lf4 {
//   0% {
//     left: 200%;
//   }
//   100% {
//     left: -100%;
//     opacity: 0;
//   }
// }

// *,
//     *:before,
//     *:after {
//         -webkit-box-sizing: border-box;
//         box-sizing: border-box;
//         margin: 0;
//         padding: 0;
//     }
    
//     body {
//         background: black;
//     }
    
//     .container {
//         text-align: center;
//     }
    
//     section {
//         width: 30%;
//         display: inline-block;
//         text-align: center;
//         min-height: 215px;
//         vertical-align: top;
//         margin: 1%;
//         background: #080915;
//         border-radius: 5px;
//         -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
//                 box-shadow: 0px 0px 30px 1px #103136 inset;
//     }

// @media only screen and (max-width: 600px) {
//   section {
//     min-width: 350px;
//   }
// }
    
//     .loader {
//         position: relative;
//         width: 60px;
//         height: 60px;
//         border-radius: 50%;
//         margin: 75px;
//         display: inline-block;
//         vertical-align: middle;
//     }
    
//     .loader-star {
//         position: absolute;
//         top: calc(50% - 12px);
//     }



// .loader-1 .loader-outter {
//   position: absolute;
//   border: 4px solid #f50057;
//   border-left-color: transparent;
//   border-bottom: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
//   animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
// }

// .loader-1 .loader-inner {
//   position: absolute;
//   border: 4px solid #f50057;
//   border-radius: 50%;
//   width: 40px;
//   height: 40px;
//   left: calc(50% - 20px);
//   top: calc(50% - 20px);
//   border-right: 0;
//   border-top-color: transparent;
//   -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
//   animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
// }
































body,html {
  background-color: #1c2020;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  
  > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
  }
  
  .bar1{
    background-color: #754fa0 ;
  }
  .bar2{
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .bar3{
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .bar4{
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .bar5{
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .bar6{
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
}


@-webkit-keyframes delay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes delay {
  0%, 40%, 100% { 
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}