.cursor-pointer{
    cursor: pointer;
}

div .table-details{
    border:1px solid black ;
    height:auto;
    padding: 20px;


    padding: 6px;
    padding-bottom: 0;
    border-radius: 0;
    margin-left: 8px;
    max-width: 96% !important;


    background: #fffcfc;
    border: 1px sol #ffefef;
}